body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 800px;
    animation: bg-colors 1.5s infinite backwards;
}

.spinner {
    width: 44px;
    height: 44px;
    animation: spinner-y0fdc1 6s infinite backwards;
    transform-style: preserve-3d;
    margin: 30px;
   }

   .cubes-title{
    font-weight: bold;
    font-family: fantasy;
    color: #004dff;
    font-size: 64px;
    font-style: oblique;
   }

   h3 span:nth-child(1) { color: red; }
    h3 span:nth-child(2) { color: blue; }
    h3 span:nth-child(3) { color: green; }
    h3 span:nth-child(4) { color: red; }
    h3 span:nth-child(5) { color: blue; }
    h3 span:nth-child(6) { color: green; }
    h3 span:nth-child(7) { color: red; }
    h3 span:nth-child(8) { color: blue; }
    h3 span:nth-child(9) { color: green; }


   

   .spinner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    /* border: 1px solid rgba(0,77,255,0.6); */
    border-radius: 16px;
   }
   
   .spinner > div {
      display: flex;
      justify-content: center;
      align-items: center;
    background-color: rgba(0,77,255,0.6);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 1px solid #004dff;
    font-size: 22px;
   }
   
   .spinner div:nth-of-type(1) {
    transform: translateZ(-22px) rotateY(180deg);
    color: rgba(255, 85, 0, 1);
   }
   
   .spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
    background-color: rgba(255, 85, 0, 0.8);
    color: rgba(0,77,255,1);

   
   }
   
   .spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
    background-color: rgba(0, 255, 26, 0.8);
    color: rgba(255, 85, 0,1);
   }
   
   .spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
    color: rgba(0, 255, 26, 1);

   }
   
   .spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
    background-color: rgba(204, 255, 0, 0.8);
    color: rgba(0,77,255,1);
   }
   
   .spinner div:nth-of-type(6) {
    transform: translateZ(22px);
    background-color: rgba(255, 0, 221, 0.8);
    color: rgba(255, 85, 0, 1);
   }
   
   @keyframes spinner-y0fdc1 {
    0% {
     transform:scale3d(1,1,1)   rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    10% {
        transform: scale3d(0.95,0.95,0.95)  rotate(45deg) rotateX(-205deg) rotateY(25deg);
       }
   
    20% {
     transform: scale3d(0.9,0.9,0.9)  rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    30% {
        transform: scale3d(0.85,0.85,0.85)  rotate(45deg) rotateX(-385deg) rotateY(205deg);
       }
      50% {
      transform: scale3d(0.80,0.80,0.80)  rotate(45deg)  rotateZ(0deg) rotateX(-385deg) rotateY(205deg);
      }  

      75% {
         transform: scale3d(0.85,0.85,0.85) rotate(45deg)  rotateZ(90deg) rotateX(-270deg) rotateY(275deg);
         }  

         85% {
            transform: scale3d(0.90,0.90,0.90) rotate(45deg)  rotateZ(180deg) rotateX(-180deg) rotateY(360deg);
            }  

            95% {
               transform: scale3d(1.2,1.2,1.2) rotate(45deg)  rotateZ(275deg) rotateX(-25deg) rotateY(205deg);
               }  
   
    100% {
     transform: scale3d(1.4,1.4,1.4) rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
   }

   @keyframes    bg-colors {
    0% {
    background-color: yellow;
    }

    25% {
       background-color: red;
       }
   
    50% {
    background-color: blue;
    }

    75% {
       background-color: green;
       }
   
    100% {
    background-color: purple;
    }
   }

